section{
  padding-bottom: 50px;
  padding-top: 50px;
}
.section-header{
  font-size: 3em;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: bold;
  text-transform: uppercase;
}
#section1{
  background-color: black;
}
/* , #face5a, #fef9e4*/
